@model WebApplication1.Models.Maquina

@{
    ViewBag.Title = "Delete";
}

<h3>Excluir</h3>

<h5>tem certeza que deseja excluir este item?</h5>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" />
            <div>
                <button class="btn waves-effect waves-light" style="background-color:lightseagreen; margin-top:10px;">
                    @Html.ActionLink("Voltar a lista", "Index", null, new { @style = "color:white" })
                </button>
            </div>
        </div>
    }
</div>
