@model WebApplication1.Models.Maquina

@{
    ViewBag.Title = "Details";
}

<h3>Detalhes</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

    </dl>
</div>
<p>
    <div>
        <button class="btn waves-effect waves-light" style="background-color:lightseagreen; margin-top:10px;">
            @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @style = "color:white" })
        </button>
    </div>
    <div>
        <button class="btn waves-effect waves-light" style="background-color:lightseagreen; margin-top:10px;">
            @Html.ActionLink("Voltar a lista", "Index", null, new { @style = "color:white" })
        </button>
    </div>
</p>
