@{
    ViewBag.Title = "Gerencia";
}

<div class="row">
    <div class="col-md-8">
        <h4>Sistema MKMS</h4>
        <div class="tab">
            <button class="tablinks" onclick="openCity(event, 'Clientes-content', '/Clientes/Index')">Clientes</button>
            <button class="tablinks" onclick="openCity(event, 'Pedidos-content', '/Pedidos/Index?id='+ IdCliente)">Pedidos</button>
            <button class="tablinks" onclick="openCity(event, 'Itens-content', '/Itens/Index?id=' + IdPedido)">Itens do Pedido</button>
            <button class="tablinks" onclick="openCity(event, 'Fabricacoes-content', '/Fabricacoes/Index?id=' + IdPedido)">Fabricações</button>
        </div>

        <!-- Tab content -->
        <div id="Clientes-content" class="tabcontent" style="max-height: 708px;">
            <div id="Clientes-content">
            </div>
        </div>

        <div id="Pedidos-content" class="tabcontent">
            <div id="Pedidos-content">
            </div>
        </div>

        <div id="Itens-content" class="tabcontent">
            <div id="Itens-content">
            </div>
        </div>

        <div id="Fabricacoes-content" class="tabcontent">
            <div id="Fabricacoes-content">
            </div>
        </div>
    </div>
</div>